@font-face {
  font-family: 'clear-sans';
  src: url('fonts/ClearSans-Thin.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'clear-sans';
  src: url('fonts/ClearSans-Light.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'clear-sans';
  src: url('fonts/ClearSans-Regular.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'clear-sans';
  src: url('fonts/ClearSans-Bold.woff') format('woff');
  font-weight: 700;
}