<footer class="footer row justc-center">
  <div class="content-wrapper row justc-space-b alitems-center pdv-l
              s-column s-alitems-center">
    <div class="footer-logo s-mgb-m">
      <img class="logo-dark" src="{{site.baseurl}}/assets/imgs/continuous-architecture-logo-dark.svg" alt="logo">
    </div>

    <div class="footer-links row alitems-center s-aliself-stretch s-row s-justc-space-b s-pdh-s">
      {% for link in site.data.footer.links %}
        <a class="row justc-center alitems-center mgl-s s-mgl-0" href="{{link.url}}">
          {% include {{link.icon}} %}
          {{link.text}}
        </a>
      {% endfor %}
    </div>
  </div>
</footer>
