// .catchphrase{
//   width: 100%;
//   min-height: 9vh;
//   background: $gradient-dark;
//   // font-style: italic;
//   color: $white;
// }

// .catchphrase-text {
//   width: 90%;
//   padding-top:25px;
//   text-align: center;
// }

.hero {
  width: 100%;
  // min-height: 9vh;
  background: $gradient-dark;
  color: $white;
  padding: $spacing-unit*8 0 $spacing-unit*6 0;

  @include media-query($tablet) {
    padding: $spacing-unit*4 0 $spacing-unit*3 0;
  }

  @include media-query($mobile) {
    padding: $spacing-unit*4 0 $spacing-unit*3 0;
  }
}

.hero-image-wrapper {
  width: 40%;
  position: relative;

  .hero-image {
    overflow: hidden;
    border-radius: 30px;
  }

  img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: $navy-light;
    bottom: -40px;
    left: -40px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: $navy-dark;
    top: -40px;
    right: -40px;
    border-radius: 30px;
    border-top-right-radius: 0;
  }

  @include media-query($tablet) {
    width: 60%;
  }

  @include media-query($mobile) {
    width: 80%;
  }
}

.hero-text {
  width: 50%;

  @include media-query($tablet) {
    width: 100%;
    text-align: center;
  }
}

.hero-title {
  font-size: 40px;

  @include media-query($tablet) {
    font-size: 40px;
  }

  @include media-query($mobile) {
    font-size: 30px;
  }
}

.hero-txt-content {
  max-width: 600px;
}

.hero-values {
  div {
    // border-radius: 8px;
    border-left: solid 4px $accent-color-dark;
    color: white;
    padding-left: $spacing-unit/2;

    @include media-query($tablet) {
      border-radius: 8px;
      border: solid 2px $accent-color-dark;
      background-color: rgba(53, 124, 255, 0.05);
      padding: $spacing-unit/2;
    }

    &:not(:last-child) {
      margin-bottom: $spacing-unit/2;
    }
  }
}




.features {
  background-color: $grey-color-light;

  .content-wrapper {
    width: 90%;

    @include media-query($laptop) {
      width: 100%;
    }
  }
}

.cards-wrapper {
  width: 50%;

  @include media-query($tablet) {
    width: 100%;
  }
}

.feature-card {
  background-color: $white;
  border-radius: 30px;
  box-shadow: $base-shadow;
  padding: $spacing-unit*1.5 ;

  @include media-query($laptop) {
    padding: $spacing-unit;
  }
}

.feature-icon {
  width: 80px;

  @include media-query($laptop) {
    width: 60px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.feature-link {
  color: $accent-color;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
}


.references {

  .ref-item {
    width: 70%;

    @include media-query($tablet) {
      width: 100%;
    }

    .ref-image {
      width: 180px;
      height: auto;
      border-radius: 22px;
      overflow: hidden;
      margin-top: 6px;
      box-shadow: 0 0 0 4px rgba(24, 84, 194,0.1);

      img {
        display: block;
        width: 100%;
      }
    }

    .ref-text {
      background-color: $grey-color-light;

      @include media-query($tablet) {
        display: none;
      }
    }

    &:nth-child(odd) {
      align-self: flex-start;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .ref-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .ref-image {
        margin-right: $spacing-unit;
      }

      .ref-text {
        border-radius: 0 30px 30px 30px;
      }
    }

    &:nth-child(even) {
      align-self: flex-end;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;

      .ref-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .ref-image {
        margin-left: $spacing-unit;
      }

      .ref-text {
        border-radius: 30px 0 30px 30px;
      }
    }

    @include media-query($tablet) {
      &:nth-child(odd) {
        flex-direction: column;
        align-items: center;

        .ref-image, .ref-title {
          position: relative;
          z-index: 1;
          margin-right: 0;
          text-align: center;
        }
      }

      &:nth-child(even) {
        flex-direction: column;
        align-items: center;

        .ref-image, .ref-title {
          position: relative;
          z-index: 1;
          margin-left: 0;
          text-align: center;
        }
      }
    }

    .ref-text-mobile {
      display: none;

      @include media-query($tablet) {
        display: block;
        border-radius: 30px;
        background-color: $grey-color-light;
        padding: 120px $spacing-unit $spacing-unit;
        margin-top: -120px;
      }
    }
  }
}


.case-studies {
  background: $gradient-dark;
}

.cs-title {
  color: $white;
  text-align: center;
}

.case-studies-list {
  width: 30%;
  min-width: 350px;

  @include media-query($tablet) {
    width: 100%;
    min-width: 0;
  }
}

.cs-list-entry {
  background-color: $navy-light;
  border-radius: 20px;
  padding: $spacing-unit*1.5 $spacing-unit*2;
  color: $white;
  margin-right: $spacing-unit;
  cursor: pointer;

  @include media-query($tablet) {
    margin-right: 0;
    margin-bottom: $spacing-unit;
    padding: $spacing-unit;

    &:not(:last-child) {
      margin-right: $spacing-unit;
    }
  }

  &:hover {
    background-color: $navy-dark;
  }

  &.active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: solid 12px $accent-color;
    margin-right: 0;

    @include media-query($tablet) {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-right: none;
      border-bottom: solid 12px $accent-color;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: $spacing-unit;
      }
    }
  }

  .cs-list-text {
    @include media-query($tablet) {
      text-align: center;
    }
    @include media-query($mobile) {
      display: none;
    }
  }
}

.case-study-logo {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
  
  img {
    width: 100%;
  }

  @include media-query($mobile) {
    width: 50px;
    height: 50px;
  }
}

.cs-content-entry {
  width: 100%;
  display: none;
  background-color: $white;
  border-radius: 30px;
  padding: $spacing-unit*2 $spacing-unit*3;

  &:first-child {
    border-top-left-radius: 0;
  }

  @include media-query($tablet) {
    padding: $spacing-unit*1.5;
    
    &:last-child {
      border-top-right-radius: 0;
    }
  }

  @include media-query($mobile) {
    padding: $spacing-unit;
  }

  &.visible {
    display: block;
  }

  .cs-header-mobile {
    display: none;
    
    @include media-query($mobile) {
      display: flex;
      align-items: center;


      .case-study-logo {
        box-shadow: 0 0 0 4px rgba(24, 84, 194,0.1);
      }
    }
  }
}