.hero {
  width: 100%;
  min-height: 90vh;
  background: $gradient-dark;
  color: $white;
}

.hero-image-wrapper {
  width: 40%;
  position: relative;

  .hero-image {
    overflow: hidden;
    border-radius: 30px;
  }

  img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: $navy-light;
    bottom: -40px;
    left: -40px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: $navy-dark;
    top: -40px;
    right: -40px;
    border-radius: 30px;
    border-top-right-radius: 0;
  }

  @include media-query($tablet) {
    width: 60%;
  }

  @include media-query($mobile) {
    width: 80%;
  }
}

.hero-text {
  width: 50%;

  @include media-query($tablet) {
    width: 100%;
    text-align: center;
  }
}

.features {
  background-color: $grey-color-light;

  .content-wrapper {
    width: 90%;

    @include media-query($laptop) {
      width: 100%;
    }
  }
}

.cards-wrapper {
  width: 50%;

  @include media-query($tablet) {
    width: 100%;
  }
}

.feature-card {
  background-color: $white;
  border-radius: 30px;
  box-shadow: $base-shadow;
  padding: $spacing-unit*1.5 ;

  @include media-query($laptop) {
    padding: $spacing-unit;
  }
}

.feature-icon {
  width: 80px;

  @include media-query($laptop) {
    width: 60px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.feature-link {
  color: $accent-color;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
}


.references {

  .ref-item {
    width: 70%;

    @include media-query($tablet) {
      width: 100%;
    }

    .ref-image {
      width: 180px;
      height: auto;
      border-radius: 22px;
      overflow: hidden;
      margin-top: 6px;

      img {
        display: block;
        width: 100%;
      }
    }

    .ref-text {
      background-color: $grey-color-light;

      @include media-query($tablet) {
        display: none;
      }
    }

    &:nth-child(odd) {
      align-self: flex-start;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .ref-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .ref-image {
        margin-right: $spacing-unit;
      }

      .ref-text {
        border-radius: 0 30px 30px 30px;
      }
    }

    &:nth-child(even) {
      align-self: flex-end;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;

      .ref-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .ref-image {
        margin-left: $spacing-unit;
      }

      .ref-text {
        border-radius: 30px 0 30px 30px;
      }
    }

    @include media-query($tablet) {
      &:nth-child(odd) {
        flex-direction: column;
        align-items: center;

        .ref-image, .ref-title {
          position: relative;
          z-index: 1;
          margin-right: 0;
        }
      }

      &:nth-child(even) {
        flex-direction: column;
        align-items: center;

        .ref-image, .ref-title {
          position: relative;
          z-index: 1;
          margin-left: 0;
        }
      }
    }

    .ref-text-mobile {
      display: none;

      @include media-query($tablet) {
        display: block;
        border-radius: 30px;
        background-color: $grey-color-light;
        padding: 120px $spacing-unit $spacing-unit;
        margin-top: -120px;
      }
    }
  }
}


.case-studies {
  background: $gradient-dark;
}

.cs-title {
  color: $white;
  text-align: center;
}

.case-studies-list {
  width: 30%;
}

.cs-list-entry {
  background-color: $navy-light;
  border-radius: 20px;
  padding: $spacing-unit*1.5 $spacing-unit*2;
  color: $white;
  margin-right: $spacing-unit;
  cursor: pointer;

  &:hover {
    background-color: $navy-dark;
  }

  &.active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: solid 12px $accent-color;
    margin-right: 0;
  }
}

.case-study-logo {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
  
  img {
    width: 100%;
  }
}

.cs-content-entry {
  width: 100%;
  display: none;
  background-color: $white;
  border-radius: 30px;
  border-top-left-radius: 0;
  padding: $spacing-unit*2 $spacing-unit*3;

  &.visible {
    display: block;
  }
}