---
layout: landing
---

<div class="home">

  <!-- <div class="catchphrase row justc-center alitems-stretch">
    <div class="content-wrapper row justc-center alitems-center pd-xl m-column s-pdh-m" style="padding-bottom: 20px">
      <div class="catchphrase-text mgl-l column m-mgl-0 m-alitems-center">
        
      </div>
    </div>
  </div> -->

  <div class="hero column justc-center alitems-center">
    <div class="content-wrapper row justc-center alitems-center pd-xl m-column s-pdh-m" style="padding-top: 40px">
      <div class="hero-image-wrapper row justc-center alitems-center mgr-l m-mgr-0 m-mgb-l">
        <div class="hero-image">
          <img src="{{page.hero.image}}" alt="">
        </div>
      </div>

      <div class="column justc-center aliself-stretch hero-text mgl-xl m-mgl-0 m-mgt-s m-alitems-center">
        <h1 class="hero-title black">{{ page.catchphrase.baseline }}</h1>
        <div class="light mgt-s mgb-s m-mgt-m">{{ page.hero.baseline | markdownify }}</div>
        <div class="column alitems-stretch hero-values">
          {% for value in page.hero.values %}
            <div>{{value}}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column justc-center mgt-s m-mgt-0">
        <a class="button white aliself-start m-aliself-center" href="{{ page.hero.call_to_action.url }}">{{ page.hero.call_to_action.text }}</a>
    </div>
  </div>

  <div class="timeline row justc-center pdv-l">
    <div class="timeline-wrapper">
      <div class="mx-auto feature-card">
        <div class="row alitems-center">
          <div class="timeline-icon -start-3">
            <img class="fill-current text-blue-500" src="assets/imgs/calendar.svg" alt="icon">
          </div>
          <div class="flex-1 ml-4">
            <h2 class="text-3xl font-bold pb-8" style="color: rgb(11,29,55)">Events of the Community</h2>
          </div>
        </div>
        <div class="mx-auto alitems-center mt-8">
          <ol class="relative border-s border-gray-200 ">
        {% for event in page.timeline.events %}
              <li class="mb-6 ms-4">
                  <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white">
                    <svg class="w-2.5 h-2.5 text-blue-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                  </span>
                  <h3 class="flex items-center mb-1 text-lg font-semibold" style="color: rgb(11,29,55)">{{ event.title }}
                  {% if event.next == true %}
                    <span class="bg-blue-100 text-blue-600 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3">Next</span>
                  {% endif %}
                  </h3>
                  <time class="block mb-1 text-base font-normal leading-none text-gray-700">{{ event.time }}</time>
                  <p class="block mb-2 text-base font-normal leading-none text-gray-700">{{ event.location}}</p>
                  {% if event.details %} <p class="mb-1 text-base font-normal text-gray-500">{{ event.details }}</p> {% endif %}
                  <a class="block no-underline text-blue-600 text-sm font-normal" href="{{ event.url }}">Details →</a>
              </li>
        {% endfor %}
            </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="features row justc-center pdv-l">
    <div class="content-wrapper column alitems-stretch">
      
      {% include google-search.html %}

      <div class="feature-card column mgb-s alitems-start">
        <div class="row alitems-center mgb-xs">
          <div class="feature-icon mgr-s">
            <img src="{{ page.features.top.icon }}" alt="icon">
          </div>
          <div class="flex-1">
            <h2 class="large-font bold">{{ page.features.top.title }}</h2>
            <a class="feature-link" href="{{ page.features.top.url }}">Learn more →</a>
          </div>
        </div>
        <div class="grey-text">{{ page.features.top.text | markdownify }}</div>
      </div>
      <div class="row alitems-stretch m-column">
        <div class="cards-wrapper row alitems-stretch">
          <div class="feature-card column justc-start alitems-start mgr-s m-mgr-0 m-mgb-s">
            <div class="row alitems-center mgb-xs">
              <div class="feature-icon mgr-s no-shrink">
                <img src="{{ page.features.left.icon }}" alt="icon">
              </div>
              <div>
                <h2 class="large-font bold">{{ page.features.left.title }}</h2>
                <a class="feature-link" href="{{ page.features.left.url }}">Learn more →</a>  
              </div>
            </div>
            <div class="grey-text">{{ page.features.left.text | markdownify }}</div>
          </div>
        </div>

        <div class="cards-wrapper">
          {% for feature in page.features.right %}
            <div class="feature-card {% if forloop.last == false %} mgb-s {% endif %} " id="{{ feature.title | slugify }}">
              <div class="row alitems-center mgb-xs">
                <div class="feature-icon mgr-s">
                  <img src="{{ feature.icon }}" alt="icon">
                </div>
                <div class="flex-1">
                  <h2 class="large-font bold">{{ feature.title }}</h2>
                  <a class="feature-link " href="{{ feature.url }}">Learn more →</a>
                </div>
              </div>
              <div class="grey-text">{{ feature.text | markdownify }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="case-studies row justc-center pdv-l m-pdv-m">
    <div class="content-wrapper pdt-s pdb-l column justc-center">
      <h3 class="cs-title xlarge-font black mgb-m" id="case-studies">Case Studies</h3>
      <div class="row aliself-stretch m-column">
        <div class="case-studies-list pdb-m 
                    m-row m-justc-spaceb m-pdb-0 m-justc-space-b">
          {% for case_study in page.case_studies %}
            <div class="cs-list-entry row alitems-center mgb-s m-mgb-0 m-column" index="{{forloop.index}}" id="list{{forloop.index}}">
              <div class="case-study-logo no-shrink mgr-s m-mgr-0 m-mgb-s s-mgb-0">
                <img src="{{case_study.logo}}" alt="logo">
              </div>
              <div class="cs-list-text m-column m-alitems-center">
                <h6 class="black">{{case_study.company}}</h6>
                <div class="light">{{case_study.title}}</div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="case-studies-content flex-1 aliself-stretch row alitems-stretch">
          {% for case_study in page.case_studies %}
            <div class="cs-content-entry" id="content{{forloop.index}}">
              <div class="cs-header-mobile mgb-s">
                <div class="case-study-logo no-shrink mgr-s">
                  <img src="{{case_study.logo}}" alt="logo">
                </div>
                <div class="column justc-center">
                  <h6 class="black">{{case_study.company}}</h6>
                  <div class="light">{{case_study.title}}</div>
                </div>
              </div>
              <h6 class="large-font mgb-s bold">{{case_study.detailed_title}}</h6>
              {{case_study.content | markdownify }}
              <a class="feature-link mgt-xs" href="{{ case_study.url }}">Learn more →</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="references row justc-center pdv-xl m-pdv-l">
    <div class="content-wrapper column alitems-center">
      <h3 class="xlarge-font black mgb-xl m-mgb-m" id="references">References</h3>
      <div class="aliself-stretch column">
        {% for ref in page.references %}
        <div class="ref-item mgb-xl m-mgb-l">
          {% if ref.image %}
            <div class="ref-image no-shrink">
              <img src="{{ref.image}}" alt="ref">
            </div>
          {% endif %}
          <div class="ref-content" id="{{ ref.name | slugify }}">
            <div class="ref-title large-font bold mgb-s m-mgt-s">
              {{ref.name}}
            </div>
            <div class="ref-text pd-m">
              {{ref.content | markdownify }}
            </div>
          </div>
          <div class="ref-text-mobile">
            {{ref.content | markdownify }}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>

</div>
